*{
    padding: 0;
    margin: 0;
}

body, html{
    height: 100%;
} 

.grid{
    position: relative;
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 10%;
    /* background-color: red;  */
}

.elemento {
    width: 25%;
    height: 25%;
    position: relative;
    float: left;
    background-color: blue;
    /* transition: 1s all; */
    border-style: inset;
    border-color: black;
    border-width: 1px;
    box-sizing: border-box;
}

/* .elemento:hover{
    background-color: blueviolet;
    cursor: pointer;
    border-color: blueviolet;
    transform: rotate(40deg) scale(1.20);
} */

.seleccionado {
    background-color: black;
}

.sin-mina{
    background-color: yellow;
}

.blocked {
    background-color: black;
    width: 25%;
    height: 25%;
    position: relative;
    float: left;
}